{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>라이온더스 - 회원가입</title>
</head>

<body>

    <a class="signup__logo" href="{% url 'home' %}">
        <img class="login__logo" src="{% static 'image/lionders_logo.jpeg' %}" alt="lionders_logo.jpeg">
    </a>

    <form class="loginbox" action="">
        <h1 class="loginbox__title">회원가입</h1>

        <div class="loginbox__textbox">
            <input type="text" name="">
            <span data-placeholder="ID"></span>
        </div>

        <div class="loginbox__textbox">
            <input type="password" name="">
            <span data-placeholder="Password"></span>
        </div>

        <div class="loginbox__textbox">
            <input type="password" name="">
            <span data-placeholder="PW Confirm"></span>
        </div>

        <div class="loginbox__textbox">
            <input type="text" name="">
            <span data-placeholder="name"></span>
        </div>

        <div class="loginbox__textbox">
            <input type="text" name="">
            <span data-placeholder="adress"></span>
        </div>

        <div class="loginbox__textbox">
            <input type="text" name="">
            <span data-placeholder="phone"></span>
        </div>

        <input type="submit" class="loginbox__btn" value="Login">

        <div class="loginbox__text">
            아직 계정이 없으신가요? <br><a href="#">라이온더스 시작하기</a>
        </div>
    </form>

</body>

</html>