{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>라이온더스 - 회원가입</title>
</head>

<body>

    <a class="signup__logo" href="{% url 'home' %}">
        <img class="login__logo" src="{% static 'image/lionders_logo.jpeg' %}" alt="lionders_logo.jpeg">
    </a>

    <form class="signupbox" id="signupbox" method="POST" action="{% url 'signup_lionders' %}">
        {% csrf_token %}
        <h1 class="signupbox__title">라이온더스 회원가입</h1>

        <div class="signupbox__textbox">
            <input type="text" name="username">
            <span data-placeholder="아이디"></span>
        </div>

        <div class="signupbox__textbox">
            <input type="password" name="password">
            <span data-placeholder="비밀번호"></span>
        </div>

        <div class="signupbox__textbox">
            <input type="password" name="confirm">
            <span data-placeholder="비밀번호 확인"></span>
        </div>

        <div class="signupbox__textbox">
            <input type="text" name="name">
            <span data-placeholder="이름"></span>
        </div>


        <div class="address">
            <div class="address__box">
                <div class="text__address_num">
                    <input class="postcodify_postcode5" type="text" name="address_num" value="">
                    <span data-placeholder="우편번호"></span>
                </div>
                <button form="#" class="postcodify_search_button" id="postcodify_search_button">검색</button>
            </div>

            <div class="signupbox__textbox">
                <input class="postcodify_address" type="text" name="address_road" value="">
                <span data-placeholder="도로명주소"></span>
            </div>

            <div class="signupbox__textbox">
                <input class="postcodify_details" type="text" name="address_detail" value="">
                <span data-placeholder="상세주소"></span>
            </div>
        </div>

        <div class="signupbox__textbox">
            <input type="text" name="phone">
            <span data-placeholder="전화번호"></span>
        </div>

        <div class="disvisible">
            <input type="text" value="lionders" name="usertype">
        </div>

        <input form="signupbox" type="submit" class="signupbox__btn" value="회원가입">

    </form>
    <script src="{% static 'js/signup.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
    <script>
        $(function () {
            $("#postcodify_search_button").postcodifyPopUp();
            // 아마 여기 안에서 속성 중에 선택 관련 속성에 콜백 넣어줘야 할듯
            // 강의 때 배운게 템플릿을 이용하는 거지만 api 서버를 구현하는게 좋음
            // drf or 순수 django + front (뭐든)
            // 코드 관리도 더 쉽고 ui 관리하기도 더 편함
            // 물론 학습할 내용이 조금 더 많아지긴 할듯
            // 공부할 내용이 많지만 앞으로 굉장히 중요한 내용이라고 생각함
            // 템플릿 엔진을 실무에서 쓰는 경우는 많이 없음
            // 시간이 된다면 시도해보면 좋을 것 같음 (다음꺼부터)
        });
    </script>
</body>

</html>