{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>라이온더스 - 회원가입</title>
</head>

<body>

    <a class="signup__logo" href="{% url 'home' %}">
        <img class="login__logo" src="{% static 'image/lionders_logo.jpeg' %}" alt="lionders_logo.jpeg">
    </a>

    <form class="signupbox" method="POST" action="{% url 'signup_consumer' %}">
        {% csrf_token %}
        <h1 class="signupbox__title">일반 회원가입</h1>

        <div class="signupbox__textbox">
            <input type="text" name="username">
            <span data-placeholder="아이디"></span>
        </div>

        <div class="signupbox__textbox">
            <input type="password" name="password">
            <span data-placeholder="비밀번호"></span>
        </div>

        <div class="signupbox__textbox">
            <input type="password" name="confirm">
            <span data-placeholder="비밀번호 확인"></span>
        </div>

        <div class="signupbox__textbox">
            <input type="text" name="name">
            <span data-placeholder="이름"></span>
        </div>

        <div class="address">
            <div class="address__box">
                <div class="text__address_num">
                    <input class="postcodify_postcode5" type="text" name="address" value="">
                    <span data-placeholder="우편번호"></span>
                </div>
                <button form="#" class="postcodify_search_button" id="postcodify_search_button">검색</button>
            </div>

            <div class="signupbox__textbox">
                <input class="postcodify_address" type="text" name="address" value="">
                <span data-placeholder="도로명주소"></span>
            </div>

            <div class="signupbox__textbox">
                <input class="postcodify_details" type="text" name="address" value="">
                <span data-placeholder="상세주소"></span>
            </div>
        </div>

        <div class="signupbox__textbox">
            <input type="text" name="address">
            <span data-placeholder="주소"></span>
        </div>

        <div class="signupbox__textbox">
            <input type="text" name="phone">
            <span data-placeholder="전화번호"></span>
        </div>

        <div class="disvisible">
            <input type="text" value="consumer" name="usertype">
        </div>

        <input type="submit" class="signupbox__btn" value="회원가입">

    </form>

    <script src="{% static 'js/signup.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
    <script>
        $(function () {
            $("#postcodify_search_button").postcodifyPopUp();
        });
    </script>
</body>

</html>