{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/update_user_info.css' %}{% endblock %}
{% block title %}mypage{% endblock %}
{% block content %}

<div class="container">
    <form class="delivery__box" action="{% url 'update_user_info' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>

            <div class="title">정보 수정</div>

            <div class="box1">
                <div class="left__box">
                    <div>프로필 사진</div>
                </div>
                <div class="right__box">
                    <input type="file" class="file__" name="image" multiple>
                </div>
            </div>
            <!--  -->
            <div class="box2">
                <div class="left__box">
                    <div>전화번호</div>
                </div>
                <div class="right__box">
                    <input type="text" class="input__text2" name='phone' value="{{ user.phone }}">
                </div>
            </div>
            <div class="box3">
                <div class="left__box">
                    <div>주소</div>
                </div>
                <div class="right__box_">
                    <div class="address__search">
                        <input type="text" class="input__text1 postcodify_postcode5" name='address_num'
                            value="{{ user.address_num }}">
                        <input form="#" type="submit" class="search_btn" id="postcodify_search_button" value="검색">
                    </div>
                    <input type="text" class="input__text2 postcodify_address" name="address_road"
                        value="{{ user.address_road }}">
                    <input type="text" class="input__text2 postcodify_details" name="address_detail"
                        value="{{ user.address_detail }}">
                </div>
            </div>

        </div>

        <div class="btnbox">
            <input type="submit" class="total__price" value="수정하기">
        </div>
    </form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
<script>
    $(function () {
        $("#postcodify_search_button").postcodifyPopUp();
        // 아마 여기 안에서 속성 중에 선택 관련 속성에 콜백 넣어줘야 할듯
        // 강의 때 배운게 템플릿을 이용하는 거지만 api 서버를 구현하는게 좋음
        // drf or 순수 django + front (뭐든)
        // 코드 관리도 더 쉽고 ui 관리하기도 더 편함
        // 물론 학습할 내용이 조금 더 많아지긴 할듯
        // 공부할 내용이 많지만 앞으로 굉장히 중요한 내용이라고 생각함
        // 템플릿 엔진을 실무에서 쓰는 경우는 많이 없음
        // 시간이 된다면 시도해보면 좋을 것 같음 (다음꺼부터)
    });
</script>
{% endblock %}