{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/orderlist.css' %}{% endblock %}
{% block title %}delivery{% endblock %}
{% block content %}
<!-- <link rel="stylesheet" href="{% static 'css/order.css' %}">
주문하는 목록
<div class="order-list">
    <br>
    <a href="{% url 'order' %}">주문서 작성하러가기</a>
    <br>
    {% for order in orders %}
    <br>
    <h3>{{order.normal_user_info.name}}님의 {{ order.ordered_time|date:'m/d (D)' }} 주문서</h3>
    <p>주소 : {{order.destination}}</p>
    <h4>배달 품목</h4>
    {% for item in order.items.all %}
    <hr>
    <p>매장: {{item.store}}</p>
    <p>물품명: {{item.item_name}}</p>
    <p>가격: {{item.price}}</p>
    {% endfor %}
    <hr>
    <p>총 금액 : {{order.total_price}}</p>
    <p><sub>주문일시: {{order.ordered_time | date:'Y년 m월 d일 A f'}}</sub></p>
    <p><sub>주문번호: {{order.id}}</sub></p>
    <form action="{% url 'order-update' %}?id={{ order.id }}" name="update" method="post">
        {% csrf_token %}
        <button type="submit">주문서 수정하기</button>
    </form>

    </form>
    <form action="{% url 'order-delete' id=order.id %}" onsubmit="return getConfirmation()" name="delete" method="post">
        {% csrf_token %}
        <script>
            function getConfirmation() {
                var retVal = confirm("Do you want to continue ?");
                if (retVal == true) {
                    return true;
                } else {
                    return false;
                }
            }
        </script>
        <button type="submit">삭제</button>
    </form>

    {% endfor %} -->


<div class="entirebox">

    <h1 class="title">나의 주문목록</h1>

    <a href="#" class="new__btn">상품보기</a>

    <div class="cards">

        <div class="order__card">

            <h3 class="card__header">10.08(MON)</h3>

            <div class="card__price"><sup>₩</sup>30,000</div>

            <ul class="item__list">

                <li>롯데리아 <strong>불고기버거</strong></li>
                <li>롯데리아 <strong>치킨버거</strong></li>
                <li>롯데리아 <strong>밀리터리버거</strong></li>
                <li>...</li>

            </ul>

            <a href="#" class="order__btn">주문하기</a>

        </div>

        <div class="order__card">

            <h3 class="card__header">10.08(MON)</h3>

            <div class="card__price"><sup>₩</sup>30,000</div>

            <ul class="item__list">

                <li>롯데리아 <strong>불고기버거</strong></li>


            </ul>

            <a href="#" class="order__btn">주문하기</a>
        </div>
        <div class="order__card">

            <h3 class="card__header">10.08(MON)</h3>

            <div class="card__price"><sup>₩</sup>30,000</div>

            <ul class="item__list">

                <li>롯데리아 <strong>불고기버거</strong></li>
                <li>롯데리아 <strong>치킨버거</strong></li>
                <li>롯데리아 <strong>밀리터리버거</strong></li>
                <li>...</li>

            </ul>

            <a href="#" class="order__btn">주문하기</a>

        </div>

        <div class="order__card">

            <h3 class="card__header">10.08(MON)</h3>

            <div class="card__price"><sup>₩</sup>30,000</div>

            <ul class="item__list">

                <li>롯데리아 <strong>불고기버거</strong></li>
                <li>롯데리아 <strong>치킨버거</strong></li>
                <li>롯데리아 <strong>밀리터리버거</strong></li>
                <li>...</li>

            </ul>

            <a href="#" class="order__btn">주문하기</a>

        </div>

        <div class="order__card">

            <h3 class="card__header">10.08(MON)</h3>

            <div class="card__price"><sup>₩</sup>30,000</div>

            <ul class="item__list">

                <li>롯데리아 <strong>불고기버거</strong></li>
                <li>롯데리아 <strong>치킨버거</strong></li>
                <li>롯데리아 <strong>밀리터리버거</strong></li>
                <li>...</li>

            </ul>

            <a href="#" class="order__btn">주문하기</a>

        </div>


    </div>

</div>


{% endblock %}