{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- css files -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/54f85ae94e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="{% static 'js/order.js' %}"></script>
</head>

<body>

    <div class="wrap">
        <!-- navbar -->
        <div class="navbar">

            <div class="navbar__logo">
                <a>
                    <img src="{% static 'image/lionders_logo.jpeg' %}" alt="lionders_logo.jpeg">
                </a>
            </div>

        </div>

        <div class="main-content">
            <div class="container mt-7">
                <h1>평가해주셔서 감사합니다.</h1>
                <h2>고객을 더 생각하여 배달하겠습니다.</h2>
                <input type="button" value="확인" onclick="closing();" />
                <script>
                    function closing() {
                        opener.location.href = "{% url 'order-list' %}";
                        self.close();
                    }
                </script>
            </div>
        </div>

        <!-- footer -->
        <div class="footer">

            <div class="footer__left">
                <div class="footer__logo">
                    <img src="{% static 'image/lionders_logo2.png' %}" alt="lionders_logo2.png">
                </div>
                <div class="footer__aboutus">
                    <p>라이온더스는 우리의 팀명이자 서비스명 으로 멋쟁이 사자처럼 + Lotte On + 라이더스를 합쳐서 만들었습니다.<br></p>
                    <p>팀 라이온더스는 순천향대학교 멋쟁이사자처럼 8기 풀스택 사자들이 모여 제작한 서비스 입니다.</p>
                </div>
                <div class="footer__copyright">
                    <a href="https://github.com/wwan13/Hackathon_Lionders">
                        https://github.com/wwan13/Hackathon_Lionders <br>
                    </a>
                    <p>Copyright @ 2020 TEAM Lionders</p>
                </div>
            </div>

        </div>
    </div>
</body>

</html>