{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- css files -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/54f85ae94e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/estimate_popup.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="{% static 'js/order.js' %}"></script>
</head>

<body>

    <div class="container">
        <div class="box">
            <div class="inner__box">
                <div class="title">평가하기</div>
            </div>
            <div class="under__box">
                <div class="left__box">
                    {% if not lionders.image %}
                    <img class="image" src="{% static 'image/side1.png' %}" alt="side1.png">
                    {% endif %}

                    {% if lionders.image %}
                    <img src="{{ user.image.url }}" class="image">
                    {% endif %}


                </div>
                <div class="right__box">
                    <div class="info">라이온더스 {{ user.name }}님</div>
                    <span class="chkbox2">
                        <input type="radio" name="dateType" id="dateType3" onclick="estimating('1.0')" />
                        <label for="dateType3">⭐️</label>
                    </span>
                    <span class="chkbox2">
                        <input type="radio" name="dateType" id="dateType3" onclick="estimating('2.0')" />
                        <label for="dateType3">⭐️⭐️</label>
                    </span>
                    <span class="chkbox2">
                        <input type="radio" name="dateType" id="dateType3" onclick="estimating('3.0')" />
                        <label for="dateType3">⭐️⭐️⭐️</label>
                    </span>
                    <span class="chkbox2">
                        <input type="radio" name="dateType" id="dateType3" onclick="estimating('4.0')" />
                        <label for="dateType3">⭐️⭐️⭐️⭐️</label>
                    </span>
                    <span class="chkbox2">
                        <input type="radio" name="dateType" id="dateType3" onclick="estimating('5.0')" />
                        <label for="dateType3">⭐️⭐️⭐️⭐️⭐️</label>
                    </span>
                </div>
            </div>
            <form method="POST" action="{% url 'estimate_lionders' order.id lionders.id %}">
                {% csrf_token %}
                <input type="hidden" name="estimate" id="estimate" value="0.0" />
                <input class="btn" type="submit" value="확인" />
            </form>
        </div>
    </div>
</body>

</html>