{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- css files -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/54f85ae94e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/popup_complete.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="{% static 'js/order.js' %}"></script>
</head>

<body>



    <!-- <div class="main-content">
        <div class="container mt-7">
            <h1>평가해주셔서 감사합니다.</h1>
            <h2>고객을 더 생각하여 배달하겠습니다.</h2>
            <input type="button" value="확인" onclick="closing();" />
            <script>
                function closing() {
                    opener.location.href = "{% url 'order-list' %}";
                    self.close();
                }
            </script>
        </div>
    </div> -->

    <div class="container">
        <img class="image" src="{% static 'image/thankyou.gif' %}" alt="on_going.gif">
        <div class="text">갑사합니다!!</div>
        <div class="text">더욱 노력하는 라이온더스 되겠습니다</div>
        <input class="btn" type="button" value="확인" onclick="closing();" />
        <script>
            function closing() {
                opener.location.href = "{% url 'order-list' %}";
                self.close();
            }
        </script>

    </div>


</body>

</html>