{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/order_final.css' %}{% endblock %}
{% block title %}라이온더스{% endblock %}
{% block content %}

<div class="entirebox">
    <div class="totalbox">
        <div class="container">
            <div class="delivery-image">
                <img class="order-image" src="{% static 'image/order_list.gif' %}" alt="order_list.gif">
            </div>
            <div class="item__box">

                <div class="title__">
                    <div>나의 주문목록</div>


                    {# for lionders in order.delivery_set.all #}
                    {% if delivery.is_estimated == True %}
                    <div style="color:#C83B2B;">별점주기 완료</div>
                    {% else %}
                    <a href="" onclick="estimate_popup();">
                        <div>라이온더스를 평가해주세요</div>
                    </a>
                    {% endif %}
                    {# endfor #}
                    {% for item in order.items.all %}
                </div>
                <div class="item__info">
                    <img src="{{ item.image.url }}">
                    <div class="about__item">
                        <div class="item__text">{{ item.item_name }}</div>
                        <div class="item__text">{{ item.store }}</div>
                        <div class="item__text">{{ item.price }}원</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="total__price2">
                    <div class="item"><strong>주문 총액</strong></div>
                    <div class="item"></div>
                    <div class="item"><strong>{{order.total_price}}</strong></div>
                </div>
            </div>

        </div>


    </div>

    {# for lionders in order.delivery_set.all #}
    <script>

        function estimate_popup() {
            window.open("{% url 'estimate_lionders' order.id delivery.lionders_info.id %}", "a",
                "width=800, height=500")
        }

    </script>
    {# endfor #}
    {% endblock %}