{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/order.css' %}{% endblock %}
{% block title %}delivery{% endblock %}
{% block content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
 <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- datepicker 한국어로 -->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/datepicker-ko.js"></script>
               
    
<!-- <link rel="stylesheet" href="{% static 'css/order.css' %}">
주문하는 목록
<div class="order-list">
    <br>
    <a href="{% url 'order' %}">주문서 작성하러가기</a>
    <br>
    {% for order in orders %}
    <br>
    <h3>{{order.normal_user_info.name}}님의 {{ order.ordered_time|date:'m/d (D)' }} 주문서</h3>
    <p>주소 : {{order.destination}}</p>
    <h4>배달 품목</h4>
    {% for item in order.items.all %}
    <hr>
    <p>매장: {{item.store}}</p>
    <p>물품명: {{item.item_name}}</p>
    <p>가격: {{item.price}}</p>
    {% endfor %}
    <hr>
    <p>총 금액 : {{order.total_price}}</p>
    <p><sub>주문일시: {{order.ordered_time | date:'Y년 m월 d일 A f'}}</sub></p>
    <p><sub>주문번호: {{order.id}}</sub></p>
    <form action="{% url 'order-update' %}?id={{ order.id }}" name="update" method="post">
        {% csrf_token %}
        <button type="submit">주문서 수정하기</button>
    </form>

    </form>
    <form action="{% url 'order-delete' id=order.id %}" onsubmit="return getConfirmation()" name="delete" method="post">
        {% csrf_token %}
        <script>
            function getConfirmation() {
                var retVal = confirm("Do you want to continue ?");
                if (retVal == true) {
                    return true;
                } else {
                    return false;
                }
            }
        </script>
        <button type="submit">삭제</button>
    </form>

    {% endfor %} -->
    <table class="searchBox">
        <colgroup>
            <col width="123px">
            <col width="*">
        </colgroup>
        <tbody>
            <tr>
                <th>조회기간</th>
                <td>
                    <ul class="searchDate">
                        <li>
                            <span class="chkbox2">
                                <input type="radio" name="dateType" id="dateType3" onclick="setSearchDate('1w')"/>
                                <label for="dateType3">1주</label>
                            </span>
                        </li>
                        <li>
                            <span class="chkbox2">
                                <input type="radio" name="dateType" id="dateType5" onclick="setSearchDate('1m')"/>
                                <label for="dateType5">1개월</label>
                            </span>
                        </li>
                        <li>
                            <span class="chkbox2">
                                <input type="radio" name="dateType" id="dateType6" onclick="setSearchDate('3m')"/>
                                <label for="dateType6">3개월</label>
                            </span>
                        </li>
                        <li>
                            <span class="chkbox2">
                                <input type="radio" name="dateType" id="dateType7" onclick="setSearchDate('6m')"/>
                                <label for="dateType7">6개월</label>
                            </span>
                        </li>
                    </ul>
                    
                    <div class="clearfix">
                        <!-- 시작일 -->
                        <span class="dset">
                            <input type="text" class="datepicker inpType" name="searchStartDate" id="searchStartDate" >
                            <a href="#none" class="btncalendar dateclick">달력</a>
                        </span>
                        <span class="demi">~</span>
                        <!-- 종료일 -->
                        <span class="dset">
                            <input type="text" class="datepicker inpType" name="searchEndDate" id="searchEndDate" >
                            <a href="#none" class="btncalendar dateclick">달력</a>
                        </span>
                    </div>    
                </td>
            </tr>
        <tbody>
    </table>
<div class="entirebox">
    <div class="totalbox">
        
    <h1 class="box__title">나의 주문목록</h1>
    
    <div class="about__items">
        <div class="item">주문목록</div>
        <div class="item">주문금액</div>
        <div class="item">주문일자</div>
        <div class="item">배달주소</div>
    </div>
    {% if user.is_authenticated %}
    {% for order in orders %}
    {% for item in order.items.all %}
    <div class="about__items">
        <div class="item">{{item.store}}<br><strong>{{item.item_name}}</strong></div>
        <div class="item">₩{{order.total_price}}</div>
        <div class="item">{{order.ordered_time|date:'m/d (D)'}}</div>
        <div class="item">{{order.destination}}</div>
    </div>
    {% endfor %}
</div>
</div>
{% endfor %}
{% endif %}
{% endblock %}