{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/order.css' %}{% endblock %}
{% block title %}delivery{% endblock %}
{% block content %}

{% comment %} {% for item in items %}

<!-- {{item.store}} <br>
{{item.item_name}} <br>
{{item.price}} <br>
<a href="{% url 'add_item' new_order.id item.id %}">
    <button>등록</button>
</a>
<br> -->

{% endfor %} {% endcomment %}

<h1 class="title">주문하기</h1>

<div class="entirebox">


    <div class="cards">

        {% for item in ex_items %}
        <div class="order__card">

            <h3 class="card__header">{{ item.store }}</h3>

            <div class="card__price"><sup>₩</sup>{{ item.price }}</div>

            <ul class="item__list">

                <li><strong>{{ item.item_name }}</strong></li>

            </ul>

            <a href="{% url 'add_item' order.id item.id %}" class="order__btn">추가하기</a>

        </div>
        {% endfor %}

    </div>

    <div class="totalbox">

        <div class="box__title">목록</div>

        <div class="about__items">
            <div class="item">상품 이름</div>
            <div class="item">매장</div>
            <div class="item">가격</div>
            <div class="item"></div>
        </div>

        {% for item in ordered_items %}
        <div class="about__item">
            <div class="items">{{ item.item_name }}</div>
            <div class="items">{{ item.store }}</div>
            <div class="items">{{ item.price }}₩</div>
            <a class="items delete" href="{% url 'remove_item' order.id item.id %}">삭제</a>
        </div>

        {% endfor %}

        <div class="btnbox">
            <div class="total__price">{{ total_price }} 원 주문하기</div>
        </div>
    </div>

</div>

{% endblock %}