{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/order.css' %}{% endblock %}
{% block title %}delivery{% endblock %}
{% block content %}


<div class="testimonials">


    <div class="inner">
        <h1 class="title">주문하기</h1>
        <div class="border"></div>

        <div class="row">
            {% for item in ex_items %}
            <div class="col">

                <div class="testimonial">
                    <img src="{{ item.image.url }}">
                    <h3 class="name">{{ item.item_name }}</h3>
                    <div class="detail1">
                        <p><strong>{{ item.store }}</strong></p>
                    </div>
                    <div class="detail2">
                        <p><sup>₩</sup>{{ item.price }}</p>
                    </div>

                    <a href="{% url 'add_item' order.id item.id %}" class="order__btn">추가하기</a>

                </div>
            </div>
            {% endfor %}
        </div>


    </div>


    <div class="totalbox">

        <div class="box__title">목록</div>

        <div class="about__items">
            <div class="item">상품 이름</div>
            <div class="item">매장</div>
            <div class="item">가격</div>
            <div class="item"></div>
        </div>

        {% for item in ordered_items %}
        <div class="about__item">
            <div class="items">{{ item.item_name }}</div>
            <div class="items">{{ item.store }}</div>
            <div class="items">{{ item.price }}₩</div>
            <a class="items delete" href="{% url 'remove_item' order.id item.id %}">삭제</a>
        </div>

        {% endfor %}

        <div class="btnbox">
            <a class="total__price" href="{% url 'order_final' order.id %}">
                {{ order.total_price }} 원 주문하기
            </a>
        </div>
    </div>

</div>

{% endblock %}