{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/community.css' %}{% endblock %}
{% block title %}community{% endblock %}
{% block content %}

<div class="contact-section">
    <h1>라이온더스 커뮤니티</h1>
    <div class="border"></div>
    <form class="contact-form" form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ community_form.media }}
        {{ community_form.title }}
        {{ community_form.content }}
        <input class="contact-form-btn" type="submit" value="제출하기">
    </form>
</div>



{% endblock %}