{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/community.css' %}{% endblock %}
{% block title %}community{% endblock %}
{% block content %}


<div class="entirebox">
    <h1 class="title">커뮤니티</h1>

    <div class="totalbox">
        <div class="box__title"></div>

        <h3>제목: {{ community.title }}</h3>
        <p>작성자: {{ community.user }}</p>
        <p>작성일: {{ community.created_at }}</p>
        <p>내용: </p>
        <p>{{ community.content|safe }}</p>

    </div>
    <a href="{% url 'community-list' %}">목록으로 가기</a>
    {% if community.user == request.user %}
    <a href="{% url 'community-update' community.id %}">수정</a>
    <a href="{% url 'community-delete' community.id %}">삭제</a>
    {% endif %}

    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'create_comment' community.id %}">
        {% csrf_token %}
        <input type="text" name="comment">
        <input class="" type="submit" value="확인">
    </form>
    {% endif %}

    <hr>
    {% for comment in community.comment_set.all %}
    <div class="">
        {{ comment.author }} 🔊 {{ comment.content|linebreaksbr }}
        {% if user == comment.author %}
        <div class="">
            <a href="{% url 'delete_comment' community.id comment.id %}" class="text-right">
                <button class="">삭제</button>
            </a>
        </div>
        {% endif %}
        <p class="">{{ comment.created_at }}</p>
    </div>
    <hr>
    {% endfor %}
</div>

{% endblock %}