{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/community.css' %}{% endblock %}
{% block title %}community{% endblock %}
{% block content %}

<div class="entirebox">
    <h1 class="title">커뮤니티</h1>

    <div class="totalbox">
        <div class="box__title">글 수정</div>

        <div class="about__items">
            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ community_form.media }}
                {{ community_form.as_p }}
        
                <input class="" type="submit" value="제출하기">
            </form>
        <div>
    </div>
</div>

{% endblock %}