{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/community_list.css' %}{% endblock %}
{% block title %}community{% endblock %}
{% block content %}


<div class="entirebox">
    <img class="community-image" src="{% static 'image/community.gif' %}" alt="community.gif">
    <div class="totalbox">

        {% if user.is_authenticated %}
        {% if user.usertype == 'lionders' or user.is_superuser %}
        <div class="write">
            <a class="box__title" href="{% url 'community' %}">글쓰기</a>
        </div>
        {% endif %}
        {% endif %}

        <div class="about__items">
            <div class="item">글 번호</div>
            <div class="item">제목</div>
            <div class="item">작성일</div>
            <div class="item">작성자</div>
        </div>

        {% for community in community_list %}
        <div class="about__items">
            <div class="item">{{ community.id }}</div>
            <a href="{% url 'community-detail' community.id %}" class="item">{{ community.title }}</a>
            <div class="item">{{ community.created_at|date:"y.m.d" }}</div>
            <div class="item">{{ community.user }}</div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}