*{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

.contact-section h1{
    margin-top: 3%;
    text-align: center;
    color: darkgray;
}
.border{
    width: 58vw;
    height: 1vh;
    background: #C83B2B;
    margin: 20px auto;
}

.contact-form{
    max-width: 58vw;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-title{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #f2f2f2;
    padding: 15px 40px;
    outline: none;
    color: #636363;
    transition: 0.5s;
    font-size: 15px;
}
.contact-form-title:focus{
    box-shadow: 0 0 5px 2px darkgray;
}

.contact-form-btn{
    width: 58vw;
    font-size: 15px;
    margin-top: 2%;
    float: right;
    border: 0;
    background: #C83B2B;
    color: #fff;
    padding: 12px 50px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #f54025;
}
