*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}
.box{
    width: 65vw;
}
.box h2{
    color: #fff;
    height: 80px;
    background: #C83B2B;
    padding: 25px 20px;
    font-size: 30px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box ul{
    position: relative;
    background: #fff;
}
.box ul li{
    list-style: none;
    padding: 10px;
    width: 100%;
    height: 150px;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    transition: transform 0.5s;
}
.box ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #C83B2B;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
}
.box ul li span{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #C83B2B;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}
.box ul li:hover span{
    background: #fff;
    color: #C83B2B;
}

.btn{
    border: 1px solid #C83B2B;
    magin-bottom: 0;
    background: none;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    color:black;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn:hover{
    color: #C83B2B;
    background-color: #fff;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #C83B2B;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn1:hover::before{
    height: 180%;
}