@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

:root {
    --lotte-red: #C83B2B;
    --lotte-gray: #54585A;
    --lotte-black: #000000;
    --lotte-silver: #8F9090;
    --lotte-shampagne-gold: #85766B;
}

.lottemartdream * {
    font-family: 'LotteMartDream', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'LotteMartDream';
    box-sizing: border-box;
}

.entirebox {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middlebox {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    margin-bottom: 20px;
}

.text {
    font-size: 30px;
    margin-top: 5px;
}

.txt2 {
    margin-top: 20px;
}

.go_home a {
    text-decoration: none;
    color: var(--lotte-red);
    font-size: 17px;
}

.go_home {
    margin-top: 30px;
    margin-bottom: 200px;
}