@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

:root {
    --lotte-red: #C83B2B;
    --lotte-gray: #54585A;
    --lotte-black: #000000;
    --lotte-silver: #8F9090;
    --lotte-shampagne-gold: #85766B;
}

.lottemartdream * {
    font-family: 'LotteMartDream', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'LotteMartDream';
    box-sizing: border-box;
}

.signup__logo>img {
    width: 90px;
    height: 45px;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
}

.signupbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    height: 580px;
    width: 800px;
    box-shadow: 1px 1px 1px lightgrey;
    border-radius: 10px;
    padding: 80px 40px;
    overflow: auto;
    /* border: 1px solid var(--lotte-red); */
}

.signupbox__title {
    text-align: center;
    /* color: black; */
    margin-bottom: 60px;
}

.signupbox__textbox {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0px;
}

.signupbox__textbox input {
    font-size: 15px;
    color: #333333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.signupbox__textbox span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.signupbox__textbox span::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 100%;
    left: 0%;
    background-color: var(--lotte-red);
    transition: .5s;
}

.signupbox__btn {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--lotte-red);
    color: #f1f1f1;
    outline: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 3px;
    transition: .5s;
    margin-top: 30px;
}


/* important 쓰면 아마 정상 작동함 좋은 방법은 아님
   css 선택자에 분명 문제가 있어서 지금 정상 작동 안하는 듯
   span + 가상 선택자를 쓰는게 최선인가? 싶은 생각이 있음
   label + negative margin, border-bottom 두개로 충분히 가능할 것 같음
   괜히 복잡해지는 느낌이 없지않아 있음
 */
.focus+span::before {
    top: -5px !important;
    font-size: 13px !important;
}

.focus+span::after {
    width: 100% !important;
}

.signupbox__btn:hover {
    background-color: #fff;
    border: 1px solid var(--lotte-red);
    color: var(--lotte-red);
}

.disvisible input {
    border: none;
    background: none;
    color: #f1f1f1;
    cursor: default;
}

/* 이 부분만 따로 뺀 이유가 아마 width 때문인 것 같은데 
   하나로 통합해서 사용하고 다른 선택자 추가하는게 더 좋을 듯
   자주 사용될만한 스타일들은 다른 파일에 묶어서 사용하면 좋음
   common.css 파일 안에 아래 같은 내용?

   .w-full {
       width: 100%;
   }

   .w-4/5 {
        widtH: 80%;
   }

   공통 스타일 관리하기도 편하고 지금처럼 불필요하게 다른 선택자 쓸 필요없음
   class="signupbox__textbox w-4/5" 해주면 text-address_num이랑 비슷한 것 같음
   margin 같은 것도 반복되는게 많이 보이면 margin-top-30, margin-bottom-30, margin-vertical-30 같이 추상화 가능함
*/
.text__address_num {
    border-bottom: 2px solid #adadad;
    width: 80%;
    position: relative;
    margin-top: 30px;
}

.text__address_num input {
    font-size: 15px;
    color: #333333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.text__address_num span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.text__address_num span::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 100%;
    left: 0%;
    background-color: var(--lotte-red);
    transition: .5s;
}

.postcodify_search_button {
    /* display: block; */
    width: 17%;
    height: 40px;
    border: none;
    background-color: var(--lotte-red);
    color: #f1f1f1;
    outline: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 3px;
    transition: .5s;
    margin-top: 33px;
}

.postcodify_search_button:hover {
    background-color: #fff;
    border: 1px solid var(--lotte-red);
    color: var(--lotte-red);
}


.address__box {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.address {
    /* width: 80%; */
    padding-top: 20px;
    padding-bottom: 20px;
}