{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/detail.css' %}{% endblock %}
{% block title %}라이온더스{% endblock %}
{% block content %}


<div class="container">

    <div class="team__section">
        <div class="title">Our Team</div>
        <div class="cards">
            <div class="person__card">

                <img class="image" src="{% static 'image/p4.jpeg' %}" alt="">
                <div class="info">
                    <div class="name text">김태완</div>
                    <div class="position text">Team Leaders</div>
                    <div class="univ text">SCH univ</div>
                    <div class="major text">CSE 19</div>
                    <div class="github text_"><a href="https://github.com/wwan13"><i class="fab fa-github"></i>
                        Github</a></div>
                    <div class="instagram text_"><a href="https://www.instagram.com/_txxwxn/"><i
                            class="fab fa-instagram-square"></i></i>
                        Instagram</a></div>
                </div>

            </div>

            <div class="person__card">

                <img class="image" src="{% static 'image/p2.jpeg' %}" alt="">
                <div class="info">
                    <div class="name text">주은지</div>
                    <div class="position text">full stack developer</div>
                    <div class="univ text">SCH univ</div>
                    <div class="major text">BigData 18</div>
                    <div class="github text_"><a href="https://github.com/junji9072"><i class="fab fa-github"></i>
                        Github</a></div>
                </div>

            </div>

            <div class="person__card">

                <img class="image" src="{% static 'image/p1.jpeg' %}" alt="">
                <div class="info">
                    <div class="name text">이남준</div>
                    <div class="position text">full stack developer</div>
                    <div class="univ text">SCH univ</div>
                    <div class="major text">CSE 15</div>
                    <div class="github text_"><a href="https://github.com/ningpop"><i class="fab fa-github"></i>
                        Github</a></div>
                    <div class="instagram text_"><a href="https://www.instagram.com/ningpop_/"><i
                            class="fab fa-instagram-square"></i></i>
                        Instagram</a></div>
                </div>

            </div>

            <div class="person__card">

                <img class="image" src="{% static 'image/p3.jpeg' %}" alt="">
                <div class="info">
                    <div class="name text">김율희</div>
                    <div class="position text">full stack developer</div>
                    <div class="univ text">SCH univ</div>
                    <div class="major text">IoT 17</div>
                    <div class="github text_"><a href="https://github.com/yulhee741"><i class="fab fa-github"></i>
                        Github</a></div>
                    <div class="instagram text_"><a href="https://www.instagram.com/yulludy/"><i
                            class="fab fa-instagram-square"></i></i>
                        Instagram</a></div>
                </div>

            </div>
        </div>
    </div>

    <div class="service__section">

        <div class="title">Our Service</div>

        <div class="youtube__video">
            <iframe width="924" height="520" src="https://www.youtube.com/embed/OnHabBqjXMs" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="image-service-box">
            <img class="image-service" src="{% static 'image/2.jpeg' %}" alt="">
            <img class="image-service" src="{% static 'image/3.jpeg' %}" alt="">
            <img class="image-service" src="{% static 'image/3.jpeg' %}" alt="">
            <img class="image-service" src="{% static 'image/4.jpeg' %}" alt="">
            <img class="image-service" src="{% static 'image/5.jpeg' %}" alt="">
            <img class="image-service" src="{% static 'image/6.jpeg' %}" alt="">

        </div>

    </div>


</div>


{% endblock %}