{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/detail.css' %}{% endblock %}
{% block title %}delivery{% endblock %}
{% block content %}

<!-- <div class="team-section">
    <div class="inner-width">
        <h1>Meet Our Team</h1>
        <div class="pers">

            <div class="pe">
                <img src="{% static 'image/p1.jpeg' %}" alt="">
                <div class="p-name">이남준</div>
                <div class="p-des">full stack Developer</div>

            </div>
        </div>

        <div class="pers">

            <div class="pe">
                <img src="{% static 'image/p2.jpeg' %}" alt="">
                <div class="p-name">주은지</div>
                <div class="p-des">full stack Developer</div>

            </div>
        </div>

        <div class="pers">

            <div class="pe">
                <img src="{% static 'image/p3.jpeg' %}" alt="">
                <div class="p-name">김율희</div>
                <div class="p-des">full stack Developer</div>

            </div>
        </div>

        <div class="pers">

            <div class="pe">
                <img src="{% static 'image/p4.jpeg' %}" alt="">
                <div class="p-name">김태완</div>
                <div class="p-des">full stack Developer</div>
                <div class="p-name">team leader</div>

            </div>
        </div>

        
        <h1>Meet Our Page</h1>
        <div class="pers"></div>

        <div class="box">
            <h2>What is LiONders?</h2>
            <h3>1. 아이디어 소개:</h3>
초소량 배달 서비스를 시작한 롯데온(ON)에서 자체적인 라이더스를 운영(아직 자체적인 라이더스를 운영하지 않는다)
-> 롯데ON의 자체적인 라이더스 구인을 위한 웹페이지 제작.
                </p>
            <br>
            <h3>2. 시나리오</h3>
            <p>
- 라이더스
가입을 통한 등록(개인정보와 배달가능지역 입력) -> 안전교육 이수 -> 배달 콜 목록 중에 가능한 배달을 선택해 배달
- 롯데 ON 배달 센터
소비자가 구입 및 신청한 배달을 지역별로 분류 -> 배달 콜 목록으로 게시
</p>
            <br>
            <h3>3. 아이디어 선정 배경</h3>
            <p>
코로나19로 온라인 주문이 급증하면서 초소량 배달 서비스의 수요가 증가했다. 롯데도 이 사업을 시작했다. 배달앱들이 운영하는 초소량 배달은 식품 쪽에 집중돼 있지만 롯데온은 배달 상품 품목이 다양하다. 당시 2개월 간 서비스를 운영해 본 결과 주문 횟수가 꾸준히 증가한 것을 확인했다. 롯데ON의 초소량 배달 서비스가 점점 더 확장된다면, 롯데ON도 배달원 인력 부족 문제를 피해갈 수 없을 것이다. 그러므로 배달원 인력 확충을 위한 롯데ON의 자체적인 배달 라이더 구인 웹페이지를 제작하게 되었다.
            </p>
            <br>
            <h3>4. 롯데가 얻는 기대효과</h3>
            <p>
배달원 인력 부족으로 인해 지체되는 배달 시간의 감소로 소비자의 만족도가 증가할 것이다.
빠른 배송 서비스로 인해 소비자의 만족도가 증가하면 자연적으로 소비자들의 롯데ON이용률은 증가하여 롯데ON 매출 증진에 도움이 될 것이다.
코로나19로 힘든 시기에 일자리 창출이 가능하며 코로나가 끝나도 실생활에 가깝고 좋은 이미지로 각인되면 계속 이용하는 서비스가 되고 배달 후발주자보다 뛰어넘는 배달 시장 파이를 먹을 수 있을 것.(추종자 -> 개척자)

            </p>
            <br>
<h3>5. 타사 배달과 차별성</h3>
            <p>
                (1). 제로웨이스트로 에코 배달 긍정적 이미지</p>
            <p>
: 제로웨이스트 운동에 동참하자는 취지로 원하는 사람에 한해서 롯데 로고 장바구니로 배달하면서 일회용품 낭비보다는 환경을 생각한다는 긍정적 이미지를 심어준다. 혹은 용기챌린지에 맞춰서 롯데마트 연계해서 락앤락 같은 용기(소비자부담)에 담아서 주는 서비스를 통해서 타사 보다 친환경적 배달이라는 이미지를 심어준다.
            </p>
            <p>(2). 라이더스 등급제로 안심 배달</p>
            <p>
: 라이더스에 등급(초보자/중급자/고급자)을 나눠서 음식이 손상이 된다거나 배달 사고와 같은 사고를 방지하고 중-고급같은 라이더스는 월급을 줘서 전문인력처럼 소비자에게 만족스러운 배달 서비스를 받을 수 있도록 한다.
            </p>
            <p>(3). 라이더스 커뮤니티</p>
<p>: 배민 지도가 불편하다는 점과 정보 공유가 안된다는 점이 있으므로 라이더스끼리 커뮤니티를 생성해서 배달 팁이나 경로 팁같은 글을 공유한다면 많은 라이더스들이 모여들 것이다.</p>
        </div>
    </div>
</div> -->

<div class="container">

    <div class="team__section">
        <div class="title">Our Team</div>
        <div class="cards">
            <div class="person__card">

                <img class="image" src="{% static 'image/p4.jpeg' %}" alt="">
                <div class="info">
                    <div class="name text">김태완</div>
                    <div class="position text">Team Leaders</div>
                    <div class="univ text">SCH univ</div>
                    <div class="major text">CSE 19</div>
                    <div class="github text_"><a href="https://github.com/wwan13"><i class="fab fa-github"></i>
                            Github</a></div>
                    <div class="instagram text_"><a href="https://www.instagram.com/_txxwxn/"><i
                                class="fab fa-instagram-square"></i></i>
                            Instagram</a></div>
                </div>

            </div>

            <div class="person__card">

                <img class="image" src="{% static 'image/p2.jpeg' %}" alt="">
                <div class="info">
                    <div class="name text">주은지</div>
                    <div class="position text">full stack developer</div>
                    <div class="univ text">SCH univ</div>
                    <div class="major text">BigData 18</div>
                    <div class="github text_"><a href="https://github.com/junji9072"><i class="fab fa-github"></i>
                            Github</a></div>
                </div>

            </div>

            <div class="person__card">

                <img class="image" src="{% static 'image/p1.jpeg' %}" alt="">
                <div class="info">
                    <div class="name text">이남준</div>
                    <div class="position text">full stack developer</div>
                    <div class="univ text">SCH univ</div>
                    <div class="major text">CSE 15</div>
                    <div class="github text_"><a href="https://github.com/ningpop"><i class="fab fa-github"></i>
                            Github</a></div>
                    <div class="instagram text_"><a href="https://www.instagram.com/ningpop_/"><i
                                class="fab fa-instagram-square"></i></i>
                            Instagram</a></div>
                </div>

            </div>

            <div class="person__card">

                <img class="image" src="{% static 'image/p3.jpeg' %}" alt="">
                <div class="info">
                    <div class="name text">김율희</div>
                    <div class="position text">full stack developer</div>
                    <div class="univ text">SCH univ</div>
                    <div class="major text">IoT 17</div>
                    <div class="github text_"><a href="https://github.com/yulhee741"><i class="fab fa-github"></i>
                            Github</a></div>
                    <div class="instagram text_"><a href="https://www.instagram.com/yulludy/"><i
                                class="fab fa-instagram-square"></i></i>
                            Instagram</a></div>
                </div>

            </div>
        </div>
    </div>

    <div class="service__section">

        <div class="title">Our Service</div>
    </div>

</div>



{% endblock %}