{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/detail.css' %}{% endblock %}
{% block title %}delivery{% endblock %}
{% block content %}

<div class="team-section">
    <div class="inner-width">
        <h1>Meet Our Team</h1>
        <div class="pers">

            <div class="pe">
                <img src="{% static 'image/p1.jpeg' %}" alt="">
                <div class="p-name">이남준</div>
                <div class="p-des">Developer</div>
<!--                <div class="p-sm">-->
<!--                    <a href="#"></a>-->
<!--                </div>-->
            </div>
        </div>

        <div class="pers">

            <div class="pe">
                <img src="{% static 'image/p2.jpeg' %}" alt="">
                <div class="p-name">주은지</div>
                <div class="p-des">Developer</div>
<!--                <div class="p-sm">-->
<!--                    <a href="#"></a>-->
<!--                </div>-->
            </div>
        </div>

        <div class="pers">

            <div class="pe">
                <img src="{% static 'image/p3.jpeg' %}" alt="">
                <div class="p-name">김율희</div>
                <div class="p-des">Developer</div>
<!--                <div class="p-sm">-->
<!--                    <a href="#"></a>-->
<!--                </div>-->
            </div>
        </div>

        <div class="pers">

            <div class="pe">
                <img src="{% static 'image/p4.jpeg' %}" alt="">
                <div class="p-name">김태완</div>
                <div class="p-des">Developer</div>
<!--                <div class="p-sm">-->
<!--                    <a href="#"></a>-->
<!--                </div>-->
            </div>
        </div>

    </div>
</div>



{% endblock %}




