{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/on_going.css' %}{% endblock %}
{% block title %}지금 가고있어용{% endblock %}
{% block content %}

<div class="entirebox">

    <div class="middlebox">

        <img class="image" src="{% static 'image/side3.png' %}" alt="side3.png">
        <div class="text">
            상품이 준비되어 고객님께 달려가는중 입니다
        </div>
        <div class="text txt2">
            조금만 기다려주세요!
        </div>
        <div class="go_home">
            <a href="{% url 'home' %}">홈으로</a>
        </div>
    </div>

</div>

{% endblock %}